/*! purgecss ignore */
* {
    font-family: 'SubQuiz font english', 'SubQuiz font chinese', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    box-sizing: border-box;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

:focus,
:focus-within,
:focus-visible
{
    outline: none;
}

svg {
    display: inline-block;
    vertical-align: middle;
}

:root {
    --bgcolor: #{$light-bgcolor};
    --color: #{$light-color};
    --up-shadow: #{$light-up-shadow};
    --down-shadow: #{$light-down-shadow};
    --border-color: #{$light-border-color};

    -webkit-tap-highlight-color: transparent;
}

[data-theme='dark'] {
    --bgcolor: #{$dark-bgcolor};
    --color: #{$dark-color};
    --up-shadow: #{$dark-up-shadow};
    --down-shadow: #{$dark-down-shadow};
    --border-color: #{$dark-border-color};
}

quiz-markdown-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    height: 100%;
    padding: 0;
    height: fit-content;
}

quiz-markdown-body> :last-child {
    margin-bottom: 0;
}

quiz-markdown-body> :first-child {
    margin-top: 0;
}