@import url("https://fontsapi.zeoseven.com/442/main/result.css");
@import url('./react_app/styles/_variables.scss');
@import url('./react_app/styles/_keyframe-animations.scss');

/*! purgecss ignore */
* {
    font-family: 'SubQuiz font english', 'SubQuiz font chinese', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    box-sizing: border-box;
    tab-size: 4;
}

.scrollbar::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: var(--button-highlight-border);
    opacity: 0.5;
    border-radius: 10px;
}

:focus,
:focus-within,
:focus-visible
{
    outline: none;
}

svg {
    display: inline-block;
    vertical-align: middle;
}

@property --color {
    syntax: '<color>';
    inherits: true;
    initial-value: #{$light-color};
}

@property --active-color {
    syntax: '<color>';
    inherits: true;
    initial-value: #{$light-glass-active-color};
}

@property --background {
    syntax: '<color>';
    inherits: true;
    initial-value: #{$light-glass-background};
}

@property --border {
    syntax: '<color>';
    inherits: true;
    initial-value: #{$light-glass-border};
}

@property --up-shadow {
    syntax: '<color>';
    inherits: true;
    initial-value: #{$light-glass-up-shadow};
}

@property --down-shadow {
    syntax: '<color>';
    inherits: true;
    initial-value: #{$light-glass-down-shadow};
}

@property --button-border {
    syntax: '<color>';
    inherits: true;
    initial-value: #{$light-glass-button-border};
}

@property --button-background {
    syntax: '<color>';
    inherits: true;
    initial-value: #{$light-glass-button-background};
}

@property --button-hover-border {
    syntax: '<color>';
    inherits: true;
    initial-value: #{$light-glass-button-hover-border};
}

@property --button-hover-background {
    syntax: '<color>';
    inherits: true;
    initial-value: #{$light-glass-button-hover-background};
}

@property --button-highlight-border {
    syntax: '<color>';
    inherits: true;
    initial-value: #{$light-glass-button-highlight-border};
}

@property --transition {
    syntax: '<string>';
    inherits: true;
    initial-value: 'default';
}

:root {
    font-weight: 700;
    strong {
        font-weight: 1000;
        font-size: 1.1em;
    }
    --color: #{$light-color};
    color: var(--color);

    --active-color: #{$light-glass-active-color};
    --background: #{$light-glass-background};
    --border: #{$light-glass-border};
    --up-shadow: #{$light-glass-up-shadow};
    --down-shadow: #{$light-glass-down-shadow};
    --button-border: #{$light-glass-button-border};
    --button-background: #{$light-glass-button-background};
    --button-hover-border: #{$light-glass-button-hover-border};
    --button-hover-background: #{$light-glass-button-hover-background};
    --button-highlight-border: #{$light-glass-button-highlight-border};

    -webkit-tap-highlight-color: transparent;

    body {
        background-image: url('/src/assets/light-background.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow: hidden;
    }
}

[quiz-solid-color='true'] {
    --active-color: #{$light-solid-active-color};
    --background: #{$light-solid-background};
    --border: #{$light-solid-border};
    --up-shadow: #{$light-solid-up-shadow};
    --down-shadow: #{$light-solid-down-shadow};
    --button-border: #{$light-solid-button-border};
    --button-background: #{$light-solid-button-background};
    --button-hover-border: #{$light-solid-button-hover-border};
    --button-hover-background: #{$light-solid-button-hover-background};
    --button-highlight-border: #{$light-solid-button-highlight-border};
}

[quiz-theme='dark'] {
    --color: #{$dark-color};

    --active-color: #{$dark-glass-active-color};
    --background: #{$dark-glass-background};
    --border: #{$dark-glass-border};
    --up-shadow: #{$dark-glass-up-shadow};
    --down-shadow: #{$dark-glass-down-shadow};
    --button-border: #{$dark-glass-button-border};
    --button-background: #{$dark-glass-button-background};
    --button-hover-border: #{$dark-glass-button-hover-border};
    --button-hover-background: #{$dark-glass-button-hover-background};
    --button-highlight-border: #{$dark-glass-button-highlight-border};

    body {
        background-image: url('/src/assets/dark-background.jpg');
    }
}

[quiz-theme='dark'][quiz-solid-color='true'] {
    --active-color: #{$dark-solid-active-color};
    --background: #{$dark-solid-background};
    --border: #{$dark-solid-border};
    --up-shadow: #{$dark-solid-up-shadow};
    --down-shadow: #{$dark-solid-down-shadow};
    --button-border: #{$dark-solid-button-border};
    --button-background: #{$dark-solid-button-background};
    --button-hover-border: #{$dark-solid-button-hover-border};
    --button-hover-background: #{$dark-solid-button-hover-background};
    --button-highlight-border: #{$dark-solid-button-highlight-border};
}

quiz-markdown-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    height: 100%;
    padding: 0;
    height: fit-content;
}

quiz-markdown-body> :last-child {
    margin-bottom: 0;
}

quiz-markdown-body> :first-child {
    margin-top: 0;
}