@use './variables' as *;
//// up and down shadow ////

@mixin neumorphism-up-shadow {
    box-shadow:  

    // 外层阴影 
    5px 5px 12px #b5b5b9,
    -5px -5px 12px #ffffff,

    // 内层阴影
    inset 1px 1px 1px #b0b1b4,
    inset -1px -1px 1px #f0f1f5,
    ;
    
    border: 2px solid $border-color;
}


@mixin neumorphism-up {
    color: $color;
    @include neumorphism-up-shadow;
}

@mixin neumorphism-down-shadow {
    box-shadow:

    // 外层阴影 
    1px 1px 1px #b5b5b9,
    -1px -1px 1px #ebecf0,
    
    // 内层阴影
    inset 4px 4px 6px #b0b1b4,
    inset -4px -4px 6px #f0f1f5,
    ;

    border: 2px solid $border-color;
}

@mixin neumorphism-down {
    color: $color;
    @include neumorphism-down-shadow;
}

//// up and down animation ////

@keyframes neumorphism-down-to-up {
    0% {
        @include neumorphism-down-shadow;
        animation-timing-function: cubic-bezier(0.6, 0, 0.9, 0);
        
    }
    100% {
        @include neumorphism-up-shadow;
    }
}

@mixin neumorphism-up-to-down {
    color: $color;
    @include neumorphism-up-shadow;
    animation: neumorphism-up-to-down 0.4s forwards;
}

@keyframes neumorphism-up-to-down {
    0% {
        @include neumorphism-up-shadow;
        animation-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
    }
    100% {
        @include neumorphism-down-shadow;
    }
}

@mixin neumorphism-down-to-up {
    color: $color;    
    @include neumorphism-down-shadow;
    animation: neumorphism-down-to-up 0.4s forwards;
}

//// appear / disappear animation ////

@mixin appear($name, $direction, $appear)
{
    & {
        @if $appear == true {
            animation: #{$name} $appear-duration ease-in forwards;
        } @else {
            animation: #{$name} $appear-duration ease-out forwards;
        }
    }

    @keyframes #{$name} 
    {
        $x: 0%;
        $y: 100%;
        
        @if $appear {
          $x: 100%;
          $y: 0%;
        }
        #{$x} {
            @if $direction == down {
                @include neumorphism-down-shadow;
            } @else {
                @include neumorphism-up-shadow;
            }
            color: $color;
        }
        50% {
            @if $direction == down {
                @include neumorphism-down-shadow;
            } @else {
                @include neumorphism-up-shadow;
            }
            color: transparent;
        }
        #{$y} {
            box-shadow: none;
            border: 2px solid transparent;
            color: transparent;
        }
    }
}