@use './variables' as *;

@mixin neumorphism-up-shadow {
    // box-shadow: 5px 5px 12px var(--up-shadow),
    //     -5px -5px 12px var(--down-shadow),
    //     inset 1px 1px 1px var(--inner-up-shadow),
    //     inset -1px -1px 1px var(--inner-down-shadow);
    // border: 2px solid var(--border-color);
}

@mixin neumorphism-up {
    // color: var(--color);
    // @include neumorphism-up-shadow;
}

@mixin neumorphism-down-shadow {
    // box-shadow: 1px 1px 1px var(--outer-up-shadow),
    //     -1px -1px 1px var(--outer-down-shadow),
    //     inset 4px 4px 6px var(--up-shadow),
    //     inset -4px -4px 6px var(--down-shadow);
    // border: 2px solid var(--border-color);
}

@mixin neumorphism-down {
    // color: var(--color);
    // @include neumorphism-down-shadow;
}

//// up and down animation ////

@keyframes neumorphism-down-to-up {
    0% {
        @include neumorphism-down-shadow;
        animation-timing-function: cubic-bezier(0.6, 0, 0.9, 0);
    }

    100% {
        @include neumorphism-up-shadow;
    }
}

@mixin neumorphism-up-to-down {
    color: var(--color);
    @include neumorphism-up-shadow;
    animation: neumorphism-up-to-down $animate-duration forwards;
}

@keyframes neumorphism-up-to-down {
    0% {
        @include neumorphism-up-shadow;
        animation-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
    }

    100% {
        @include neumorphism-down-shadow;
    }
}

@mixin neumorphism-down-to-up {
    color: var(--color);
    @include neumorphism-down-shadow;
    animation: neumorphism-down-to-up $animate-duration forwards;
}

@keyframes neumorphism-down-to-up {
    0% {
        @include neumorphism-down-shadow;
        animation-timing-function: cubic-bezier(0.6, 0, 0.9, 0);
    }

    100% {
        @include neumorphism-up-shadow;
    }
}

@keyframes neumorphism-up-to-down {
    0% {
        @include neumorphism-up-shadow;
        animation-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
    }

    100% {
        @include neumorphism-down-shadow;
    }
}

@mixin neumorphism-up-to-down {
    color: var(--color);
    @include neumorphism-up-shadow;
    animation: neumorphism-up-to-down $animate-duration forwards;
}

@mixin neumorphism-down-to-up {
    color: var(--color);
    @include neumorphism-down-shadow;
    animation: neumorphism-down-to-up $animate-duration forwards;
}

@mixin appear($name, $direction, $appear) {
    & {
        @if $appear ==true {
            animation: #{$name} $appear-duration ease-in forwards;
        }

        @else {
            animation: #{$name} $appear-duration ease-out forwards;
        }
    }

    @keyframes #{$name} {
        $x: 0%;
        $y: 100%;

        @if $appear {
            $x: 100%;
            $y: 0%;
        }

        #{$x} {
            color: var(--color);
            opacity: 1;
        }

        50% {
            color: transparent;
            opacity: 1;
        }

        #{$y} {
            color: transparent;
            opacity: 0;
        }
    }
}