@use './variables' as *;

// 新增：定义 theme-styles 混合器，根据主题设置 CSS 变量
@mixin theme-styles($theme) {
    @if $theme ==light {
        --bgcolor: #{$light-bgcolor};
        --color: #{$light-color};
        --up-shadow: #{$light-up-shadow};
        --down-shadow: #{$light-down-shadow};
        --border-color: #{$light-border-color};
        --inner-up-shadow: #{$light-inner-up-shadow};
        --inner-down-shadow: #{$light-inner-down-shadow};
        --outer-up-shadow: #{$light-outer-up-shadow};
        --outer-down-shadow: #{$light-outer-down-shadow};
    }

    @else if $theme ==dark {
        --bgcolor: #{$dark-bgcolor};
        --color: #{$dark-color};
        --up-shadow: #{$dark-up-shadow};
        --down-shadow: #{$dark-down-shadow};
        --border-color: #{$dark-border-color};
        --inner-up-shadow: #{$dark-inner-up-shadow};
        --inner-down-shadow: #{$dark-inner-down-shadow};
        --outer-up-shadow: #{$dark-outer-up-shadow};
        --outer-down-shadow: #{$dark-outer-down-shadow};
    }
}

@mixin neumorphism-up-shadow {
    box-shadow: 5px 5px 12px var(--up-shadow),
        -5px -5px 12px var(--down-shadow),
        inset 1px 1px 1px var(--inner-up-shadow),
        inset -1px -1px 1px var(--inner-down-shadow);
    border: 2px solid var(--border-color);
}

@mixin neumorphism-up {
    color: var(--color);
    @include neumorphism-up-shadow;
}

@mixin neumorphism-down-shadow {
    box-shadow: 1px 1px 1px var(--outer-up-shadow),
        -1px -1px 1px var(--outer-down-shadow),
        inset 4px 4px 6px var(--up-shadow),
        inset -4px -4px 6px var(--down-shadow);
    border: 2px solid var(--border-color);
}

@mixin neumorphism-down {
    color: var(--color);
    @include neumorphism-down-shadow;
}

//// up and down animation ////

@keyframes neumorphism-down-to-up {
    0% {
        @include neumorphism-down-shadow;
        animation-timing-function: cubic-bezier(0.6, 0, 0.9, 0);
    }

    100% {
        @include neumorphism-up-shadow;
    }
}

@mixin neumorphism-up-to-down {
    color: var(--color);
    @include neumorphism-up-shadow;
    animation: neumorphism-up-to-down 0.4s forwards;
}

@keyframes neumorphism-up-to-down {
    0% {
        @include neumorphism-up-shadow;
        animation-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
    }

    100% {
        @include neumorphism-down-shadow;
    }
}

@mixin neumorphism-down-to-up {
    color: var(--color);
    @include neumorphism-down-shadow;
    animation: neumorphism-down-to-up 0.4s forwards;
}

//// appear / disappear animation ////

@mixin appear($name, $direction, $appear) {
    & {
        @if $appear ==true {
            animation: #{$name} $appear-duration ease-in forwards;
        }

        @else {
            animation: #{$name} $appear-duration ease-out forwards;
        }
    }

    @keyframes #{$name} {
        $x: 0%;
        $y: 100%;

        @if $appear {
            $x: 100%;
            $y: 0%;
        }

        #{$x} {
            @if $direction == down {
                @include neumorphism-down-shadow;
            }

            @else {
                @include neumorphism-up-shadow;
            }

            color: var(--color);

            img {
                opacity: 1;
            }
        }

        50% {
            @if $direction == down {
                @include neumorphism-down-shadow;
            }

            @else {
                @include neumorphism-up-shadow;
            }

            color: transparent;
        }

        #{$y} {
            box-shadow: none;
            border: 2px solid transparent;
            color: transparent;

            img {
                opacity: 0;
            }
        }
    }
}

// 在根选择器中生成主题样式
:root {
    @include theme-styles(light);
}

[data-theme='dark'] {
    @include theme-styles(dark);
}

@keyframes neumorphism-down-to-up {
    0% {
        @include neumorphism-down-shadow;
        animation-timing-function: cubic-bezier(0.6, 0, 0.9, 0);
    }

    100% {
        @include neumorphism-up-shadow;
    }
}

@keyframes neumorphism-up-to-down {
    0% {
        @include neumorphism-up-shadow;
        animation-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
    }

    100% {
        @include neumorphism-down-shadow;
    }
}

@mixin neumorphism-up-to-down {
    color: var(--color);
    @include neumorphism-up-shadow;
    animation: neumorphism-up-to-down 0.4s forwards;
}

@mixin neumorphism-down-to-up {
    color: var(--color);
    @include neumorphism-down-shadow;
    animation: neumorphism-down-to-up 0.4s forwards;
}

@mixin appear($name, $direction, $appear) {
    & {
        @if $appear ==true {
            animation: #{$name} $appear-duration ease-in forwards;
        }

        @else {
            animation: #{$name} $appear-duration ease-out forwards;
        }
    }

    @keyframes #{$name} {
        $x: 0%;
        $y: 100%;

        @if $appear {
            $x: 100%;
            $y: 0%;
        }

        #{$x} {
            @if $direction ==down {
                @include neumorphism-down-shadow;
            }

            @else {
                @include neumorphism-up-shadow;
            }

            color: var(--color);
        }

        50% {
            @if $direction ==down {
                @include neumorphism-down-shadow;
            }

            @else {
                @include neumorphism-up-shadow;
            }

            color: transparent;
        }

        #{$y} {
            box-shadow: none;
            border: 2px solid transparent;
            color: transparent;
        }
    }
}