$appear-duration: 300ms;
$animate-duration: 0.2s;

// 亮色主题变量
$light-color: black;

$light-glass-active-color: #2196f388;
$light-glass-background: rgba(255, 255, 255, 0.6);
$light-glass-border: rgba(255, 255, 255, 0.18);
$light-glass-up-shadow: rgba(255, 255, 255, 0.38);
$light-glass-down-shadow: rgba(0, 0, 0, 0.18);
$light-glass-button-border: rgba(255, 255, 255, 0.2);
$light-glass-button-background: rgba(255, 255, 255, 0.2);
$light-glass-button-hover-border: rgba(255, 255, 255, 0.2);
$light-glass-button-hover-background: rgba(255, 255, 255, 0.3);
$light-glass-button-highlight-border: rgba(37, 47, 195, 0.6);

$light-solid-active-color: #1976D28C;
$light-solid-background: #F9FAFB;
$light-solid-border: rgba(0, 0, 0, 0.32);
$light-solid-up-shadow: rgba(0, 0, 0, 0.04);
$light-solid-down-shadow: rgba(0, 0, 0, 0.25);
$light-solid-button-border: #C5C6C7;
$light-solid-button-background: #C5C6C7;
$light-solid-button-hover-border: #A5A6A7;
$light-solid-button-hover-background: #D5D6D7;
$light-solid-button-highlight-border: #1E5DF2B3;

// 暗色主题变量
$dark-color: white;

$dark-glass-active-color: #2196f388;
$dark-glass-background: rgba(0, 0, 0, 0.5);
$dark-glass-border: rgba(255, 255, 255, 0);
$dark-glass-up-shadow: rgba(255, 255, 255, 0.18);
$dark-glass-down-shadow: rgba(0, 0, 0, 0.80);
$dark-glass-button-border: rgba(255, 255, 255, 0.05);
$dark-glass-button-background: rgba(255, 255, 255, 0.05);
$dark-glass-button-hover-border: rgba(255, 255, 255, 0.05);
$dark-glass-button-hover-background: rgba(255, 255, 255, 0.1);
$dark-glass-button-highlight-border: rgba(158, 147, 216, 0.6);

$dark-solid-active-color: #2196f388;
$dark-solid-background: #1E2024;
$dark-solid-border: rgba(255, 255, 255, 0.12);
$dark-solid-up-shadow: rgba(255, 255, 255, 0.05);
$dark-solid-down-shadow: rgba(0, 0, 0, 0.60);
$dark-solid-button-border: rgba(255, 255, 255, 0.14);
$dark-solid-button-background: #272A30;
$dark-solid-button-hover-border: rgba(255, 255, 255, 0.14);
$dark-solid-button-hover-background: #2F333A;
$dark-solid-button-highlight-border: rgba(77, 99, 255, 0.70);